@page "/fetchdata"
@using AstrosBlazorCore.Data
@inject WeatherForecastService ForecastService

<h1>Houston Astros Inning Simulator 2019</h1>
<br />


<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Jersey Number</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jose</td>
            <td>Altuve</td>
            <td> 2nd Base</td>
            <td>27</td>
            <td>4.5 Million USD</td>
            
        </tr>
        <tr>
            <td>Justin</td>
            <td>Verlander</td>
            <td>Pitcher</td>
            <td>35</td>
            <td>28 Million USD</td>
            
        </tr>
        <tr>
            <td>Alex </td>
            <td>Bregman</td>
            <td>3rd Base</td>
            <td>2</td>
            <td>600k USD</td>
            
        </tr>
        <tr>
            <td>George</td>
            <td>Springer</td>
            <td>Right Field</td>
            <td>4</td>
            <td>513k USD</td>
            
        </tr>
        <tr>
            <td>Carlos</td>
            <td>Correa</td>
            <td>Short Stop</td>
            <td>16</td>
            <td>535k USD</td>
            
        </tr>
        <tr>
            <td>Michael</td>
            <td>Brantley</td>
            <td>Left Field</td>
            <td>23</td>
            <td>6.5 Million USD</td>
            
        </tr>
        <tr>
            <td>Robert</td>
            <td>Osuna</td>
            <td>Pitcher</td>
            <td>54</td>
            <td>5.3 Million USD</td>
           
        </tr>
        <tr>
            <td>Gerrit </td>
            <td>Cole</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>548K USD</td>
            
        </tr>
        <tr>
            <td>Josh</td>
            <td>Reddick</td>
            <td>Right Field</td>
            <td>22</td>
            <td>6.6 Million USD</td>
            
        </tr>
        
        </tbody>
           
        
        
        
    <tfoot>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Jersey Number</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>


